.scorecard {
    max-width: 1650px;
    margin-left: auto;
    margin-right: auto;
}
.scorecard-date-range {
    border: 2px solid darkgray;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    background-color: gray;
    color: black;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.scorecard-date-wrapper {
    background-color: rgb(142, 169, 219);
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}

.scorecard-start-date, .scorecard-end-date {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.scorecard-date-wrapper label {
    margin-bottom: 5px;
}

.scorecard-date-wrapper input {
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.reset-scorecard-dates {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid rgb(255, 124, 128);
    border-radius: 5px;
    transition-duration: 0.4s;
}

.reset-scorecard-dates:hover {
    background-color: rgb(255, 124, 128);
    border-color: rgb(255, 33, 38);
    color: white;
    cursor: pointer;
  }

  .scorecard-date-explanation {
      font-size: 12px;
      font-weight: bold;
  }